
.btn-global-config {
    position: relative;
    top: 20px;
    left: 20px;
    background-color:  rgba(145, 18, 88, 0.795);
    border: 8px;
    padding: 8px 10px;
    cursor: pointer;
    z-index: 1000;
    max-width: 150px;
    justify-content: center;
  }
  
  
  .opcion-config {
    display:block;
    align-items: center;
    gap: 10px;
    margin-bottom: 1rem;
  }
.dark-mode {
    background-color: #121212;
    color: white;
    
  }
  
  body {
    background-color: #fff;
    color: black;
  }
  
  .opcion-config select {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }