
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}


.navbar h1 {
  font-size: 24px;
  color: #ffcc00;
}


.navbar ul {
  list-style: none;
  display: flex;
}


.navbar ul li {
  margin: 0 15px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease;
}


.navbar ul li:hover {
  color: #ffcc00;
}


@media (max-width: 768px) {
  .navbar ul {
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #a19f9f;
    height: 100vh;
    display: none; 
  }
<<<<<<< HEAD
  
  /* Dropdown styles */
/* Ocultar el menú desplegable por defecto */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 120px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

/*Mostrar el menú solo cuando el mouse está sobre el padre*/
.dropdown:hover .dropdown-content {
  display: block;
}

/*Estilo del contenedor del dropdown */
.dropdown {
  position: relative;
}

/* Opcional: estilo de los ítems dentro del desplegable */
.dropdown-content li {
    padding: 8px 12px;
    white-space: nowrap;
  }
  
  .dropdown-content li:hover {
    background-color: #eee;
  }
=======

 
  .navbar .menu-toggle {
    display: block;
    font-size: 30px;
    cursor: pointer;
    color: white;
  }

  
  .navbar.active ul {
    display: flex;
  }

  .navbar ul li {
    margin: 20px 0;
  }
}
>>>>>>> origin/manuel
