/*details */
.movie-details {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #ffffff;
  border: 2px solid #af4c91;
  border-radius: 12px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  text-align: center;
  animation: slideUp 0.5s ease forwards;
}

/*title */
.movie-details h1 {
  color: #7a2f4e;
  margin-bottom: 20px;
  font-size: 1.6em;
}

/*img */
.series-details img {
  width: 300px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.movie-details p {
  font-size: 1.1em;
  color: #444;
  margin: 20px auto;
  text-align: justify;
  line-height: 1.5;
}

.comentarios-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* textarea */
.comentarios-container textarea {
  width: 90%;
  max-width: 600px;
  height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1em;
  resize: vertical;
  margin-bottom: 15px;
  font-family: Arial, sans-serif;
}

.comentarios-container button {
  padding: 6px 14px;
  font-size: 0.9em;
  background-color: #af4c91;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
  align-self: center;
  max-width: 120px;
  margin-top: 10px;
}

.comentarios-container button:hover {
  background-color: #7a2f4e;
}
